@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


.card-icons {
    display: flex;
    margin: 8px 16px 0px 8px;
    gap: 8px;
}

.card-icons img {
    width: 20px;
    height: auto;
}

.card-form {
    display: block
}

.card-form .form-group {
    margin-bottom: 8px;

}

.card-form label {
    display: block;
    font-size: 0.55em;
    font-weight: 300;
    color: #000000;
    margin: 0px 0px 4px 32px;
    text-align: left;
    font-family: 'Poppins';
    /* Align the label text to the left */
}

.card-form input {
    width: 75%;
    padding: 8px 12px;
    border: 0.5px solid #D7DEDF;
    border-radius: 6px;
    font-size: 0.6em;
}

.card-button {
    width: 80%;
    padding: 8px 12px;
    background-color: #010911;
    color: #ffffff;
    margin-top: 12px;
    border: none;
    border-radius: 5px;
    font-size: 0.7em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-form button:hover {
    background: linear-gradient(65deg, #003d72 95%, #a3c2e4 5%);
}
.card-otp {
    margin-top: 10%;
    display: flex;
    flex-direction: column;  /* Change to column layout */
    align-items: center;     /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center;      /* Center text within elements */
}

.card-otp p {
    margin-top: 12px;
    width: 70%;
    font-size: 0.7em;
    text-align: center;      /* Ensure text is centered */
}
.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.otp-input {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #0056b3;
}