@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


.card-icons {
    display: flex;
    margin: 8px 16px 0px 8px;
    gap: 8px;
}

.card-icons img {
    width: 20px;
    height: auto;
}

.card-form {
    display: block
}

.card-form .form-group {
    margin-bottom: 16px;

}

.card-form label {
    display: block;
    font-size: 0.55em;
    font-weight: 300;
    color: #000000;
    margin: 0px 0px 4px 32px;
    text-align: left;
    font-family: 'Poppins';
    /* Align the label text to the left */
}

.card-form input {
    width: 75%;
    padding: 8px 12px;
    border: 0.5px solid #D7DEDF;
    border-radius: 6px;
    font-size: 0.6em;
}

.card-form button {
    width: 80%;
    padding: 10px 15px;
    background-color: #010911;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-form button:hover {
    background: linear-gradient(65deg, #003d72 95%, #a3c2e4 5%);
}