.orokii-secure-payments-button {
    display: flex;
    width: 20%;
    max-width: 18%;
    align-items: center;
    background-color: #000;
    color: #fff;
    margin-top: 12px;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: Arial, sans-serif;

}
  
.orokii-text {
  font-weight:600;
  margin-right: 10px;
  font-size: 0.5rem;
}
.orokii-orokiipay {
  font-weight:700;
  
  font-size: 0.65rem;
}

.orokii-powered-by {
  font-size: 0.4rem;
  font-weight: 300px;
  margin-right: 5px;
}

.orokii-secured-logo {
  height: 16px;
  margin-left: 5px;
  margin-right: 2px;
  width: auto;
}

@media screen and (max-width: 844px) {
  .orokii-secure-payments-button {
    display: flex;
    width: 60%;
    max-width: 38%;
    align-items: center;
    background-color: #000;
    color: #fff;
    margin-top: 12px;
    padding: 7px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;

}
  
.orokii-text {
  font-weight:600;

  font-size: 0.25rem;
}
.orokii-orokiipay {
  font-weight:700;
  
  font-size: 0.35rem;
}

.orokii-powered-by {
  font-size: 0.2rem;
  font-weight: 300px;
  margin-right: 2px;
}

.orokii-secured-logo {
  height: 8px;
  margin-left: 5px;
  margin-right: 2px;
  width: auto;
}
   
}